<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shakib.nsucpc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NSUCPC">
        <activity android:name=".fullJobPreview"></activity>
        <activity android:name=".sendCV" />
        <activity android:name=".editJobs" />
        <activity android:name=".postJobs" />
        <activity android:name=".addStudentInfo" />
        <activity android:name=".adminOptions" />
        <activity android:name=".AvailableJobs" />
        <activity android:name=".adminLogin" />
        <activity android:name=".studentLogin" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>